-- Admin: SELECT/UPDATE orders, SELECT order_items, SELECT profiles (buyer name).
-- Avoid RLS recursion on profiles: do not SELECT profiles inside a profiles policy.
-- Use SECURITY DEFINER function pab_is_admin() instead.

DROP POLICY IF EXISTS "pab_orders_admin_select" ON public.orders;
DROP POLICY IF EXISTS "pab_orders_admin_update" ON public.orders;
DROP POLICY IF EXISTS "pab_profiles_admin_select" ON public.profiles;
DROP POLICY IF EXISTS "pab_order_items_admin_select" ON public.order_items;

CREATE OR REPLACE FUNCTION public.pab_is_admin()
RETURNS boolean
LANGUAGE sql
SECURITY DEFINER
SET search_path = public
STABLE
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.profiles p
    WHERE p.id = auth.uid()
      AND lower(trim(coalesce(p.role, ''))) IN ('admin', 'superadmin')
  );
$$;

REVOKE ALL ON FUNCTION public.pab_is_admin() FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.pab_is_admin() TO authenticated;
GRANT EXECUTE ON FUNCTION public.pab_is_admin() TO service_role;

CREATE POLICY "pab_orders_admin_select"
ON public.orders
FOR SELECT
TO authenticated
USING (public.pab_is_admin());

CREATE POLICY "pab_orders_admin_update"
ON public.orders
FOR UPDATE
TO authenticated
USING (public.pab_is_admin())
WITH CHECK (public.pab_is_admin());

CREATE POLICY "pab_profiles_admin_select"
ON public.profiles
FOR SELECT
TO authenticated
USING (public.pab_is_admin());

CREATE POLICY "pab_order_items_admin_select"
ON public.order_items
FOR SELECT
TO authenticated
USING (public.pab_is_admin());
