-- Banner beranda (maks 3 slot). Jalankan setelah pab_is_admin() ada (migrasi admin RLS).

CREATE TABLE IF NOT EXISTS public.home_banners (
  slot smallint PRIMARY KEY CHECK (slot >= 1 AND slot <= 3),
  image_url text NOT NULL,
  updated_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.home_banners ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "home_banners_select_public" ON public.home_banners;
CREATE POLICY "home_banners_select_public"
ON public.home_banners FOR SELECT
TO anon, authenticated
USING (true);

DROP POLICY IF EXISTS "home_banners_admin_insert" ON public.home_banners;
CREATE POLICY "home_banners_admin_insert"
ON public.home_banners FOR INSERT
TO authenticated
WITH CHECK (public.pab_is_admin());

DROP POLICY IF EXISTS "home_banners_admin_update" ON public.home_banners;
CREATE POLICY "home_banners_admin_update"
ON public.home_banners FOR UPDATE
TO authenticated
USING (public.pab_is_admin())
WITH CHECK (public.pab_is_admin());

DROP POLICY IF EXISTS "home_banners_admin_delete" ON public.home_banners;
CREATE POLICY "home_banners_admin_delete"
ON public.home_banners FOR DELETE
TO authenticated
USING (public.pab_is_admin());

-- Buckets (abaikan error jika sudah ada)
INSERT INTO storage.buckets (id, name, public)
VALUES ('avatars', 'avatars', true)
ON CONFLICT (id) DO NOTHING;

INSERT INTO storage.buckets (id, name, public)
VALUES ('banners', 'banners', true)
ON CONFLICT (id) DO NOTHING;

-- Storage: avatar — user hanya folder sendiri (nama file: userId/...)
DROP POLICY IF EXISTS "avatars_public_read" ON storage.objects;
CREATE POLICY "avatars_public_read"
ON storage.objects FOR SELECT
TO public
USING (bucket_id = 'avatars');

DROP POLICY IF EXISTS "avatars_user_insert" ON storage.objects;
CREATE POLICY "avatars_user_insert"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (
  bucket_id = 'avatars'
  AND split_part(name, '/', 1) = auth.uid()::text
);

DROP POLICY IF EXISTS "avatars_user_update" ON storage.objects;
CREATE POLICY "avatars_user_update"
ON storage.objects FOR UPDATE
TO authenticated
USING (
  bucket_id = 'avatars'
  AND split_part(name, '/', 1) = auth.uid()::text
)
WITH CHECK (
  bucket_id = 'avatars'
  AND split_part(name, '/', 1) = auth.uid()::text
);

DROP POLICY IF EXISTS "avatars_user_delete" ON storage.objects;
CREATE POLICY "avatars_user_delete"
ON storage.objects FOR DELETE
TO authenticated
USING (
  bucket_id = 'avatars'
  AND split_part(name, '/', 1) = auth.uid()::text
);

-- Storage: banner — baca publik, tulis admin
DROP POLICY IF EXISTS "banners_public_read" ON storage.objects;
CREATE POLICY "banners_public_read"
ON storage.objects FOR SELECT
TO public
USING (bucket_id = 'banners');

DROP POLICY IF EXISTS "banners_admin_insert" ON storage.objects;
CREATE POLICY "banners_admin_insert"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'banners' AND public.pab_is_admin());

DROP POLICY IF EXISTS "banners_admin_update" ON storage.objects;
CREATE POLICY "banners_admin_update"
ON storage.objects FOR UPDATE
TO authenticated
USING (bucket_id = 'banners' AND public.pab_is_admin())
WITH CHECK (bucket_id = 'banners' AND public.pab_is_admin());

DROP POLICY IF EXISTS "banners_admin_delete" ON storage.objects;
CREATE POLICY "banners_admin_delete"
ON storage.objects FOR DELETE
TO authenticated
USING (bucket_id = 'banners' AND public.pab_is_admin());
