-- Kurangi stok otomatis saat admin/superadmin menyetujui pesanan dari status
-- "Menunggu Verifikasi". Dibuat sebagai fungsi SQL agar eksekusi atomik.

CREATE OR REPLACE FUNCTION public.pab_approve_order_reduce_stock(
  p_order_id uuid,
  p_next_status text
)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_order_status text;
  v_item record;
  v_affected integer;
BEGIN
  IF NOT public.pab_is_admin() THEN
    RAISE EXCEPTION 'Hanya admin/superadmin yang diizinkan.'
      USING ERRCODE = '42501';
  END IF;

  SELECT status
  INTO v_order_status
  FROM public.orders
  WHERE id = p_order_id
  FOR UPDATE;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Pesanan tidak ditemukan.';
  END IF;

  IF trim(coalesce(v_order_status, '')) <> 'Menunggu Verifikasi' THEN
    RAISE EXCEPTION 'Status pesanan bukan Menunggu Verifikasi.';
  END IF;

  FOR v_item IN
    SELECT product_id, quantity
    FROM public.order_items
    WHERE order_id = p_order_id
  LOOP
    UPDATE public.products
    SET stock = stock - COALESCE(v_item.quantity, 0)
    WHERE id = v_item.product_id
      AND stock >= COALESCE(v_item.quantity, 0);

    GET DIAGNOSTICS v_affected = ROW_COUNT;
    IF v_affected = 0 THEN
      RAISE EXCEPTION 'Stok tidak cukup untuk salah satu produk di pesanan ini.';
    END IF;
  END LOOP;

  UPDATE public.orders
  SET status = p_next_status
  WHERE id = p_order_id;
END;
$$;

REVOKE ALL ON FUNCTION public.pab_approve_order_reduce_stock(uuid, text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.pab_approve_order_reduce_stock(uuid, text) TO authenticated;
GRANT EXECUTE ON FUNCTION public.pab_approve_order_reduce_stock(uuid, text) TO service_role;
